@model Loja.Application.Dtos.CompradorDto

@{
    ViewData["Title"] = "Detalhes do Comprador";
}

<h1>Detalhes do Comprador</h1>

<div>
    <h4>Comprador</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeRazaoSocial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeRazaoSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPessoa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoPessoa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InscricaoEstadual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InscricaoEstadual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bloqueado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bloqueado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Senha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Senha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>